@import "../../../node_modules/bulma/css/bulma.min.css";

html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: transparent;
}

body {
  margin: 0;
}

#app {
  padding: 0;
  height: 100%;
  width: 100%;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.section {
  padding: 1.5rem 1.5rem;
}

.app-header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
  ;
  background-size: cover;
  background-position: center;
}

.app-header h1.title {
  color: #fff !important;
}

.app-header + section.section {
  background-color: rgba(255,255,255,0.95) !important;
}

.is-capitalized {
  text-transform: capitalize;
}

.title-section {
  position: relative;
}

.title-section::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 25%;
  background-color: #7f8c8d;
}

.switch-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
 
.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 940px;
}

.slideshowSlider {
  white-space: nowrap;
  height: 100%;
}

.slideshowSlider .slide {
  display: inline-block;
  width: 100%;
  height: 240px;
  overflow: hidden;
}